@use "assets/scss/reset";
@use "assets/scss/attribute";
@use "assets/scss/variables" as *;

* {
  background-color: $backgroundColor;
  color: $white;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100dvh;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  padding-bottom: 68px;
}

@include mobile {
  .layout {
    border-left: none;
    border-right: none;
  }
}

.button {
  border: none;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  text-align: center;

  &-w100p {
    width: 100%;
  }

  &-round {
    border-radius: 400px;
  }

  &--black {
    background-color: #222222;
    color: #fff;
  }

  &--light {
    background-color: #fafafa;
    border: 1px solid $grayColor;
    color: #222;
  }
}

.post__flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

// Header
.logo_header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 598px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: #000;
  z-index: 100;

  .logo {
    display: inline-block;
    width: 32px;
    height: 32px;

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .btn_back {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icon/icon_back.svg) no-repeat center center / contain;
  }
}

.container {
  padding-top: 56px;
}

// Account
.account-page {
  width: 100%;
  height: calc(100dvh - 56px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 80px;

  .account_title {
    flex: 1;
    display: flex;
    align-items: center;

    h2 {
      line-height: 150%;
    }
  }

  .login-home__btns {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      width: 100%;
    }

    .login-btn__google {
      @extend .btn;
      @extend .btn-w100p;
      @extend .btn-round;
      background-color: #fff;

      span {
        background-color: transparent;
        color: #222;
        position: relative;
        padding-left: 30px;
        font-weight: 500;

        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: url(../images/icon/icon_google.svg) no-repeat center center / contain;
        }
      }
    }

    .login-btn__github {
      @extend .btn;
      @extend .btn-w100p;
      @extend .btn-round;
      background-color: #fff;

      span {
        background-color: transparent;
        color: #222;
        position: relative;
        padding-left: 30px;
        font-weight: 500;

        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: url(../images/icon/icon_github.svg) no-repeat center center / contain;
        }
      }
    }

    .login-btn__signup {
      @extend .btn;
      @extend .btn-w100p;
      @extend .btn-round;
      @extend .btn--black;
    }
  }

  .btn_bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    span.bar {
      flex: 1;
      width: 100%;
      height: 1px;
      background-color: $grayColor;
    }

    p {
      font-size: 13px;
    }
  }

  .login-home__txts {
    margin-top: 28px;
    font-size: 13px;
    line-height: 150%;
    .link {
      color: $primaryColor;
    }
  }
  .login-home__login {
    margin-top: 40px;
    .link {
      margin-left: 8px;
      color: $primaryColor;
    }
  }
}

// Account Footer
.account-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  width: 100%;
  height: 56px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $borderColor;
  background-color: transparent;

  .footer_btns {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;

    &.right {
      justify-content: flex-end;
    }

    &.between {
      justify-content: space-between
    }

    .btn_prev {
      @extend .btn;
      @extend .btn-round;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      padding: 0 12px;
      height: 32px;
      line-height: 32px;
    }

    .btn_signup {
      @extend .btn;
      @extend .btn-round;
      @extend .btn--light;
      padding: 0 12px;
      height: 32px;
      line-height: 32px;
    }
  }
}

// Footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  width: 100%;
  height: 60px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $borderColor;
  background-color: transparent;

  &__grid {
    display: flex;
    align-items: center;
    height: 100%;

    button {
      flex: 1;
      height: 100%;
      font-size: 20px;
      color: #fff;

      &:hover {
        color: $grayHoverColor;
      }
    }
  }
}

// form 레이아웃
.form {
  padding-top: 40px;

  input {
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $grayColor;
    width: 100%;
    background-color: transparent;
    transition: 0.35s;

    &:focus {
      border: 1px solid $primaryColor;
    }
  }

  &__block {
    margin-top: 20px;
    width: 100%;
  }

  &__block--lg {
    margin-top: 28px;
    width: 100%;
  }

  &__title {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 80px;
  }

  label {
    font-size: 13px;
    font-weight: 500;
    display: block;
    padding-left: 8px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  &__btn-submit {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: $primaryColor;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    border-radius: 400px;

    &:hover, &:focus {
      background-color: $activeColor;
    }
  }

  &__link {
    margin-left: 10px;
    text-decoration: underline;
    color: $grayText;

    &:hover, &:focus {
      color: gray;
    }
  }

  &__error {
    font-size: 13px;
    margin-left: 8px;
  }
}

// Home 레이아웃
.home {
  &__tabs {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__tab {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    &--active {
      font-weight: 700;
      border-bottom: 2px solid $primaryColor;
    }

    &:hover, &:focus {
      background-color: $activeBackgroundColor;
    }
  }

  &__search-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search {
    width: calc(100% - 40px);
    border: none;
    height: 40px;
    padding: 0 16px;
    background-color: $borderColor;
    border-radius: 400px;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid $primaryColor;
    }
  }
}


// Home의 Post Layout
.post {
  &__no-posts {
    padding: 16px;
    text-align: center;

    .post__text {
      padding-top: 16px;
      color: $grayColor;
    }
  }

  padding-bottom: 40px;

  &__flex {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__email, &__createdAt {
    font-size: 13px;
    color: $grayText;
  }

  &__box {
    padding: 16px;
    border-bottom: 1px solid $borderColor;

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }

    &-profile {
      &-img, &-icon {
        width: 28px;
        height: 28px;
        border-radius: 50px;
      }
    }

    &-content {
      flex: 1;
      display: block;
      font-weight: 500;

      .post-form__hashtags-outputs {
        margin-top: 8px;
        margin-bottom: 0;
      }
    }

    &-image {
      width: 100%;
      margin-bottom: 16px;
      margin-top: 16px;
      border-radius: 1px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: contain;
      }
    }

    .post-profile__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 12px;
      margin-top: 2px;
      row-gap: 8px;

      @include mobile {
        flex-direction: column;
      }

      .post-flex {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .post__follower-btn {
        display: inline-block;
        width: auto;
        height: 26px;
        border-radius: 50px;
        padding: 0 16px;
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
      }

      .post__follow-btn {
        display: inline-block;
        width: auto;
        height: 26px;
        border-radius: 50px;
        padding: 0 16px;
        background-color: #fff;
        color: #000;
      }
    }

    &-footer {
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      gap: 8px;
      align-items: center;
      flex-direction: row-reverse;

      button {
        @extend .button;
        &.post__delete {
          background-color: $dangerColor;
        
          &:hover,  &:focus {
            background-color: $dangerHoverColor;
          }
        }

        &.post__edit {
          background-color: $grayColor;

          &:hover,  &:focus {
            background-color: $grayHoverColor;
          }
        }

        &.post__likes, &.post__comments {
          @extend .post__flex;
          line-height: 10px;

          svg {
            font-size: 18px;
          }

          .fill_heart {
            path {
              color: #FB2863;
            }
          }

          &:hover , &:focus {
            color: $grayText
          }
        }

        &.post__comments {
          svg {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.post-form {
  &__input-area {
    border-bottom: 1px solid $borderColor;
  }

  &__attach-area {
    padding: 16px;

    .attachment_img {
      width: 100%;
      max-width: 260px;
      height: auto;
      position: relative;
      padding: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
      }

      .btn_clear {
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: -8px;
        right: -16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 24px;
        border-radius: 50%;
        z-index: 10;
        border: 1px solid #fff;
      }
    }
  }

  &__textarea {
    min-height: 100px;
    width: 100%;
    border: none;
    display: block;
    font-size: 14px;
    padding: 16px;
    resize: none;

    &::placeholder {
      color: $grayText;
    }
  }

  &__input {
    width: 100%;
    border: none;
    resize: none;
  }

  &__hashtags {
    padding: 16px;
    border-bottom: 1px solid $borderColor;

    &-outputs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px 8px;
      margin-bottom: 16px;
    }

    &-tag {
      color: $primaryColor;
      padding: 2px 0px;
      cursor: pointer;

      &:hover, &:focus {
        color: $activeColor;
      }
    }
  }

  &__image-area {
    display: flex;
    align-items: center;
  }

  &__submit-area {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;

    .post-form__file {
      display: flex;
      padding: 0 8px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &-icon {
        font-size: 18px;
        color: $activeColor;

        &:hover {
          color: $primaryColor;
        }
      }
    }
    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 10px 18px;
    font-size: 14px;
    background-color: $grayColor;
  }
}

// #### Profile ####
.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;

  .profile__img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $borderColor;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile__flex {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .profile__btn {
    display: inline-block;
    width: auto;
    height: 30px;
    border-radius: 50px;
    padding: 0 16px;
    border: 1px solid $borderColor;
  }
}

.profile__text {
  padding: 0 16px;
  margin-bottom: 12px;

  .profile__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .profile__email {
    font-size: 14px;
    font-weight: 400;
    color: $grayColor;
  }
}

.profile-edit_form {
  padding: 0 16px;

  .edit__profile-area {
    display: inline-block;
    position: relative;

    .profile__file {
      display: inline-block;
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;

      .attachment_img {
        width: 100%;
        height: 100%;

        .img_wrap {
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid $borderColor;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .empty_profile_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 40px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .btn_clear {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      right: -7px;
      top: 0px;
      border: 1px solid #fff;
      z-index: 100;
      font-size: 24px;
      padding: 0;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    input[type=file] {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .profile-info__list-area {
    margin-top: 24px;

    .profile-info__item {
      label {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
      }

      .profile-img__input {
        width: 100%;
        height: 36px;
        border: none;
        border-bottom: 1px solid $borderColor;
      }
    }
  }

  .profile__submit-area {
    margin-top: 20px;

    .profile__submit-btn {
      width: 100%;
      height: 38px;
      border: none;
      background-color: $grayColor;
      border-radius: 8px;
      color: #fff;
    }
  }
}

.comment {
  padding: 16px;
  border-bottom: 1px solid $borderColor;

  .comment__border-box {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .comment__profile {
      .comment__box-profile-icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
      }
    }

    .comment__box {
      flex: 1;
    }

    .comment__flex-box {
      display: flex;
      align-items: center;
      gap: 10px;

      .comment__email,
      .comment__createdAt {
        color: $grayColor;
        font-size: 14px;
      }
    }

    .comment__content {
      margin: 12px 0;
    }

    .comment__btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        @extend .button;
        &.comment__delete-btn {
          background-color: $dangerColor;
        
          &:hover,  &:focus {
            background-color: $dangerHoverColor;
          }
        }

        &.comment__edit-btn {
          background-color: $grayColor;

          &:hover,  &:focus {
            background-color: $grayHoverColor;
          }
        }

      }
    }
  } 
}

// Notification
.notification {
  padding: 10px 16px;
  border-bottom: 1px solid $borderColor;
  cursor: pointer;
  font-size: 14px;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__createdAt {
    color: $grayText;
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__unread {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primaryColor;

  }
}