$backgroundColor: #000000;
$activeBackgroundColor: #222222;
$white: #ffffff;
$borderColor: #2f3336;
$primaryColor: #60a5fa;
$activeColor: #3b82f6;
$grayText: #71767b;
$dangerColor: #dc2626;
$dangerHoverColor: #dc26268e;
$grayColor: #6b7280;
$grayHoverColor: #4b4d52;

* {
  background-color: $backgroundColor;
  color: $white;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100dvh;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
}

.button {
  border: none;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.post__flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

// Footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  width: 100%;
  height: 60px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $borderColor;
  background-color: transparent;

  &__grid {
    display: flex;
    align-items: center;
    height: 100%;

    button {
      flex: 1;
      height: 100%;
      font-size: 20px;
      color: #fff;

      &:hover {
        color: $grayHoverColor;
      }
    }
  }
}

// Home 레이아웃
.home {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 12px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__tab {
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    &--active {
      font-weight: 700;
      border-bottom: 2px solid $primaryColor;
    }

    &:hover, &:focus {
      background-color: $activeBackgroundColor;
    }
  }
}

.post-form {
  &__textarea {
    min-height: 120px;
    width: 100%;
    border: none;
    display: block;
    font-size: 16px;
    padding: 12px;
    resize: none;
    border-bottom: 1px solid $borderColor;

    &::placeholder {
      color: $grayText;
    }
  }

  &__submit-area {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;

    .post-form__file {
      display: flex;
      padding: 0 8px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      // &-icon {
      //   color: $activeColor;

      //   &:hover {
      //     color: $primaryColor;
      //   }
      // }
    }
    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 10px 18px;
    font-size: 14px;
    background-color: $grayColor;
  }
}

// Home의 Post Layout
.post {
  padding-bottom: 40px;

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__email, &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__box {
    padding: 10px 0px;
    border-bottom: 1px solid $borderColor;

    &-profile {
      padding: 0px 10px;

      &-img, &-icon {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 10px;
      }
    }

    &-content {
      display: block;
      font-weight: 500;
      padding: 16px;
    }

    &-footer {
      padding: 0 16px;
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      gap: 8px;
      align-items: center;
      flex-direction: row-reverse;

      button {
        @extend .button;
        &.post__delete {
          background-color: $dangerColor;
        
          &:hover,  &:focus {
            background-color: $dangerHoverColor;
          }
        }

        &.post__edit {
          background-color: $grayColor;

          &:hover,  &:focus {
            background-color: $grayHoverColor;
          }
        }

        &.post__likes, &.post__comments {
          @extend .post__flex;

          &:hover , &:focus {
            color: $grayText
          }
        }
      }
    }
  }
  
  
}