$backgroundColor: #000000;
$activeBackgroundColor: #222222;
$white: #ffffff;
$borderColor: #2f3336;
$primaryColor: #60a5fa;
$activeColor: #3b82f6;
$grayText: #71767b;
$dangerColor: #dc2626;
$dangerHoverColor: #dc26268e;
$grayColor: #6b7280;
$grayHoverColor: #4b4d52;